body {
  background-color: #EFE3D8;
  color:#564A3F;
  font-family: "Computer Modern Serif", serif;
  font-size: 100%;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #EFE3D8;
    color:#564A3F;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #564A3F;
    color:#EFE3D8;
  }
}

#header {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  font-weight: bold;
}

.splitter {
  width: 90%;
}

#content {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

img {
  max-width: 100%;
}

md-block:not([rendered]) {
  display: none;
}

